* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg binary

*.pdf binary
*.webm binary
*.mp4 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.wasm binary
*.glb binary
*.gltf binary

pnpm-lock.yaml linguist-generated=true
